.MainList::before {
  content: '';
  border-left: 2px solid #e1e4e8;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 21px;
  margin-top: 16px;
  margin-bottom: 21px;
}
.card{
  margin: 16px 0;
}
.TimelineItem-badge {
    position: relative;
    z-index: 1;
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-left: 6px;
    color: #444d56;
    align-items: center;
    background-color: #e1e4e8;
    border: 2px solid #fff;
    border-radius: 50%;
    justify-content: center;
    flex-shrink: 0;
}
a.PageLink {
  color: black;
}
